torch
transformers
accelerate
datasets
pyyaml
pandas
numpy
scipy
scikit-learn
krippendorff
tqdm
matplotlib
openai
nltk
rstconverter
git+https://github.com/tkutschbach/RST-Tace.git
git+https://github.com/ruthenian8/rst-converter-service.git
